@import "tailwindcss";

@theme {
  --color-indigo-950: #261258;
  --color-indigo-900: #381a82;
  --color-indigo-800: #4923a8;
  --color-pink-500: #f43a8d;
  --color-pink-600: #db307d;
  --color-pink-400: #f766a7;
  --font-sans: var(--font-primary), ui-sans-serif, system-ui, sans-serif;
  --font-secondary: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-primary), ui-sans-serif, system-ui, sans-serif;
}

.font-secondary {
  font-family: var(--font-secondary), ui-sans-serif, system-ui, sans-serif;
}
